:root {
  --primary-color: #e3a228;
  --secondary-color: rgb(20, 20, 20);
  --bg-color: white;
  --supporting-color: #ff748f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "Montserrat", sans-serif;
}

p,
a {
  font-family: "Poppins", sans-serif;
}
#root {
  max-width: 100%;
  background-color: var(--bg-color);
}

body::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(
    146.55deg,
    #ff748f 7.39%,
    rgba(227, 162, 40, 0.91) 100%
  );
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
